
  %title-h1l {
    font-size: calc(300*(100vw - 320px)/1600);
  }
  
  %title-h1m {
    font-size: calc(280*(100vw - 320px)/1600);
  }
  
  %title-h1s {
    font-size: calc(260*(100vw - 320px)/1600);
  }
  
  %title-h2l{
    font-size: calc(240*(100vw - 320px)/1600);
  }
  
  %title-h2s {
    font-size: calc(220*(100vw - 320px)/1600);
  }
  
  %title-h3l {
    font-size: calc(200*(100vw - 320px)/1600);
  }
  
  %title-h3s {
    font-size: calc(180*(100vw - 320px)/1600);
  }
  
  %title-h4l {
    font-size: calc(160*(100vw - 320px)/1600);
  }
  
  %title-h4s {
    font-size: calc(140*(100vw - 320px)/1600);
  }
  
  %title-h5l {
    font-size: calc(120*(100vw - 320px)/1600);
  }
  
  %title-h5s {
    font-size: calc(100*(100vw - 320px)/1600);
  }
  
  %title-h6l {
    font-size: calc(80*(100vw - 320px)/1600);
  }
  
  %title-h6s {
    font-size: calc(60*(100vw - 320px)/1600);
  }
  %title-h7l {
    font-size: calc(40*(100vw - 320px)/1600);
  }
  
  %title-h7s {
    font-size: calc(20*(100vw - 320px)/1600);
  }
  