*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
  outline: none;
  -webkit-touch-callout: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  $vw: 100vw;
  background: $color-black;
  box-sizing: border-box;
  color: $color-white;
  font-size: calc($vw / 1920px * 10px);
  height: 100%;
  left: 0;
  overflow: hidden;
  overscroll-behavior: none;
  position: fixed;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  @include media('<phone') {
    font-size: calc($vw / 375px * 10px);
  }
}

body {
  font: 1.4rem/1.5 $font-neue-haas-grotesk-regular;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a {
  color: inherit;
  outline: none;
  pointer-events: auto;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-radius: none;
  color: inherit;
  font: inherit;
  outline: none;
  pointer-events: auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
textarea {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  pointer-events: auto;
}

.content {
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

[data-animation="paragraph"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

.h1l {
  @extend %title-h1l;
}

.h1m {
  @extend %title-h1m;
}

.h1s {
  @extend %title-h1s;
}

.h2l {
  @extend %title-h2l;
}

.h2s {
  @extend %title-h2s;
}

.h3l {
  @extend %title-h3l;
}

.h3s {
  @extend %title-h3s;
}

.h4l {
  @extend %title-h4l;
}

.h4s {
  @extend %title-h4s;
}

.h5l {
  @extend %title-h5l;
}

.h5s {
  @extend %title-h5s;
}

.h6l {
  @extend %title-h6l;
}

.h6s {
  @extend %title-h6s;
}

.h7l {
  @extend %title-h7l;
}

.h7s {
  @extend %title-h7s;
}