extends ../base.pug

block variables
  - var template = 'home'

block body
  .home
    .home__content
      .h1l
        | Lorem ipsum
      .h1m
        | Lorem ipsum
      .h1s
        | Lorem ipsum
      .h2l
        | Lorem ipsum
      .h2s
        | Lorem ipsum
      .h3l
        | Lorem ipsum
      .h3s
        | Lorem ipsum
      .h4l
        | Lorem ipsum
      .h4s
        | Lorem ipsum
      .h5l
        | Lorem ipsum
      .h5s
        | Lorem ipsum
      .h6l
        | Lorem ipsum
      .h6s
        | Lorem ipsum
      .h7l
        | Lorem ipsum
      .h7s
        | Lorem ipsum
